.tags {
    width: 526px;
    height: 96px;
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .tag {
    height: 44px;
    display: flex;
    align-items: center;
    background: rgba(242, 244, 247, 1);
    padding: 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    gap: 8px;
    justify-content: center;
    white-space: nowrap;
  }
  
  .tagIcon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }