.card {
  width: 888px;
  height: 358px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #616367;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.cover {
  display: flex;
  width: 290px;
  height: 310px;
}

.info {
  width: 526px;
  height: 310px;
}

.titlePrice {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.priceIconWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #101828;
}

.price {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.favoritIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.ratingLocation {
  display: flex;
  align-items: center;
  height: 24px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.location {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  margin-right: 4px;
  stroke: #101828;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(71, 84, 103, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 24px;
}

.tags {
  width: 526px;
  height: 96px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.tag {
  height: 44px;
  display: flex;
  align-items: center;
  background: rgba(242, 244, 247, 1);
  padding: 20px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  gap: 8px;
  justify-content: center;
}

.tagIcon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.showMore {
  display: flex;
  width: 166px;
  height: 56px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 200px;
  padding-left: 40px, 16px, 40px, 16px;
  background: rgba(228, 72, 72, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: left;
}
