.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.field {
    height: 25px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    gap: 10px;
}

.formGroup select {
    padding: 4px;
}

.error {
    font-style: 14px;
    color: orangered;
}

.button {
    border-radius: 5px;
    margin-top: 12px;
    width: 150px;
    color: white;
    background: gray;
    font-size: 14px;
    font-weight: 400;
    height: 41px;
}

.button:hover {
    color: black;
    background: white;
    font-weight: 600;
}