.container {
    display: flex;
    flex-direction: row;
    gap: 64px; 
    padding: 100px 64px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 32px; 
    width: 360px;
    max-width: 360px;
}


.location {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 88px;
}

.location-group {
    display: flex;
    gap: 8px;
}

.filters  {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 270px;
}

.type  {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 167px;
}

.label{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(16, 24, 40, 0.6);
    margin-bottom: 10px;
}


.searchInput {
    border-radius: 10px;
    padding: 18px;
    width: 360px;
    height: 56px;
    padding-left: 48px;
    color: #101828;
    background: #f7f7f7;
    
}

.searchInput::placeholder {
    box-sizing: border-box;
    padding-left: 0;
    color: #101828;
    opacity: 60%;
  }

.searchButton {
    border-radius: 200px;
    padding: 16px 60px;
    width: 173px;
    height: 56px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}



.locationGroup {
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    margin-bottom: 32px;
}


.inputWrapper {
    position: relative;
}

.icons {
    position: absolute;
    left: 18px;
    top: 50%; 
    transform: translateY(-50%); 
    width: 1.5rem; 
    height: 1.5rem; 
    stroke: #101828;
    opacity: 60%;
}

.inputWrapper:focus-within .icons, 
.inputWrapper:focus-within .searchInput::placeholder,
.inputWrapper:active .icons
{
    opacity: 100%;
}

.searchInput:placeholder-shown + .icons {
    opacity: 60%;
  }
  
  .searchInput:not(:placeholder-shown) + .icons {
    opacity: 100%;
  }

