/* Общие стили для плавного появления */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards; /* Продолжительность анимации 2 секунды */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.h1 {
    display: flex;
    flex-direction: column;
    font-family: "Grey Qo", cursive;
    font-size: clamp(60px, 16vw, 250px);
    color: white;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
    margin-top: -100px;
    animation: fadeIn 2s;
}

.h4 {
    font-size: clamp(10px, 4vw, 30px);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 10px;
    animation: fadeIn 0s forwards;
}

.entryLink {
    font-size: clamp(25px, 1vw, 50px);
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    /* margin-bottom: 200px; */
    /* margin-top: 20px; */
    animation: fadeIn 0s forwards;
}

.entryLink:hover {
    background-color: rgb(0, 0, 0, 0.7);
}
